.logo{
    height: 50px;
}
.header nav{
    background-color: black;
    line-break: 45px;
    text-align: left;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-top: 10px;
    padding: 2px;
    /* padding-top: 20px; */
    font-size: 18px;
}
.header nav a:hover{
    background-color: lightgray;
    border-radius: 5px;
    color: black;
}
.shopp{
    margin-left: 35px;
}
